<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #forma="ngForm" (ngSubmit)="guardar()">
        <ion-card>
            <ion-item>
                <ion-label color="primary">¿Horario corrido o con comida?</ion-label>
                <ion-select [(ngModel)]="dia.comida" okText="Aceptar" cancelText="Cancelar" required name="corrido">
                    <ion-select-option value="corrido">Corrido</ion-select-option>
                    <ion-select-option value="comida">Cierre por comida</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="dia.comida">
            <ion-item>
                <ion-label>Apertura</ion-label>
                <ion-datetime [(ngModel)]="dia.apertura" display-format="h:mm A" picker-format="h:mm A" cancelText="Cancelar" doneText="Aceptar" required name="apertura"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Cierre</ion-label>
                <ion-datetime [(ngModel)]="dia.cierre" display-format="h:mm A" picker-format="h:mm A" cancelText="Cancelar" doneText="Aceptar" required name="cierre"></ion-datetime>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="dia.comida === 'comida'">
            <ion-item>
                <ion-label>Inicio comida</ion-label>
                <ion-datetime [(ngModel)]="dia.inicioComida" display-format="h:mm A" picker-format="h:mm A" cancelText="Cancelar" doneText="Aceptar" required name="comida"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fin comida</ion-label>
                <ion-datetime [(ngModel)]="dia.finComida" display-format="h:mm A" picker-format="h:mm A" cancelText="Cancelar" doneText="Aceptar" required name="comidaFin"></ion-datetime>
            </ion-item>
        </ion-card>
        <ng-container *ngIf="dia.comida === 'comida'; else comidaTemplate">
            <ion-card *ngIf="dia.comida && dia.apertura && dia.cierre && dia.inicioComida && dia.finComida">
                <ion-item *ngFor="let item of semana">
                    <ion-label>{{item.nombre | titlecase}}</ion-label>
                    <ion-checkbox [(ngModel)]="item.activo" slot="start" name="item.dia"></ion-checkbox>
                </ion-item>
            </ion-card>
        </ng-container>
        <ng-template #comidaTemplate>
            <ion-card *ngIf="dia.comida && dia.apertura && dia.cierre">
                <ion-item *ngFor="let item of semana">
                    <ion-label>{{item.nombre | titlecase}}</ion-label>
                    <ion-checkbox [(ngModel)]="item.activo" slot="start" name="item.dia"></ion-checkbox>
                </ion-item>
            </ion-card>
        </ng-template>

        <ion-button class="boton-margen" color="primary" type="submit" [disabled]="forma.invalid">
            Guardar cambios
        </ion-button>
    </form>

</ion-content>