<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="comfortaa">{{perfil.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Mobile -->
    <div class="mobile">
        <ng-container *ngIf="perfilReady; else loadMobileTemplate">
            <div>
                <ng-container *ngIf="!perfil.portada; else portadaTemplate">
                    <div style="text-align: center;">
                        <img [src]="noPortada" style="width: 35%;" (click)="foto1.click()" /> <br>
                        <input style="display: none" (change)="cropImage($event, 1/.33, true, 60, 450)" type="file" #foto1> <br>
                        <ion-label color="medium" *ngIf="!perfil.portada">Elige tu portada. Toma una fotografía del negocio o producto estrella</ion-label>
                    </div>
                </ng-container>
                <ng-template #portadaTemplate>
                    <img [src]="perfil.portada" style="width: 100%;" (click)="foto1.click()" /> <br>
                    <input style="display: none" (change)="cropImage($event, 1/.33, true, 60, 450)" type="file" #foto1> <br>
                </ng-template>

                <div class="boton-margen">
                    <form #forma="ngForm" (submit)="guardarCambios()">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-item lines="none">
                                        <ion-label color="medium" position="fixed">Logo</ion-label>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="8">
                                    <img [src]="perfil.logo || noLogo" style="height: 2.5rem;" (click)="foto2.click()" />
                                    <input style="display: none" (change)="cropImage($event, 1/1, false)" type="file" #foto2>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-item>
                            <ion-label color="medium" position="floating">Negocio</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.nombre" type="text" name="nombre" required minlength="3"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium" position="floating">Direccion</ion-label>
                            <ion-input id="txtHome" #txtHome (keyup.enter)="$event.target.blur();" [(ngModel)]="perfil.direccion.direccion" [disabled]="guardando" type="text" name="direccion" required minlength="3"></ion-input>
                        </ion-item>
                        <agm-map *ngIf="perfil.direccion.lat" [latitude]="perfil.direccion.lat" [longitude]="perfil.direccion.lng" [zoom]="16">
                            <agm-marker [latitude]="perfil.direccion.lat" [longitude]="perfil.direccion.lng" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                        </agm-map>
                        <ion-item>
                            <ion-label color="medium" position="floating">Telefono (10 dígitos)</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.telefono" type="tel" name="telefono" required minlength="10"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="productosAllow">
                            <ion-label color="medium">Manejarás pedidos en línea</ion-label>
                            <ion-select [value]="perfil.tipo" (ionChange)="tipoElegido($event)" color="medium" okText="Aceptar" cancelText="Cancelar" required>
                                <ion-select-option value="productos">Sí, quiero recibir pedidos en línea</ion-select-option>
                                <ion-select-option value="servicios">No, sólo informativo</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'servicios'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Whatsapp de contacto (10 dígitos)</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.whats" type="tel" name="whats" minlength="10"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'productos'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Tiempo de preparacion aprox. en minutos</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.preparacion" type="number" name="preparacion" minlength="1"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'productos'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Costo de envío</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.envio" type="number" name="envio" minlength="1"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium" position="floating">Descripción</ion-label>
                            <ion-textarea (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.descripcion" type="text" name="descripcion" required minlength="3"></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium">Categoria</ion-label>
                            <ion-select [value]="perfil.categoria" [disabled]="categorias.length <= 0" (ionChange)="categoriaElegida($event)" color="medium" okText="Aceptar" cancelText="Cancelar" required>
                                <ion-select-option *ngFor="let item of categorias" [value]="item.categoria">{{item.categoria | titlecase}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium">Subcategoria(s)</ion-label>
                            <ion-select multiple="true" [(ngModel)]="perfil.subCategoria" [disabled]="subCategorias.length <= 0" color="medium" okText="Aceptar" cancelText="Cancelar" required name="subCat">
                                <ion-select-option *ngFor="let item of subCategorias" [value]="item">{{item | titlecase}}</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-button class="boton-margen" style="margin-top: 2rem" [disabled]="!forma.valid || !perfil.logo || !perfil.portada || !perfil.tipo || !perfil.subCategoria || guardando || !cobertura" type="submit">
                            Guardar cambios
                            <ion-spinner *ngIf="guardando" name="dots"></ion-spinner>
                        </ion-button>
                    </form>
                </div>
            </div>
        </ng-container>
        <ng-template #loadMobileTemplate>
            <ion-card>
                <ion-list>
                    <ion-item *ngFor="let item of [1,2,3,4,5,6]">
                        <ion-label>
                            <h2>
                                <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                            </h2>
                            <p>
                                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ng-template>
    </div>

    <!-- Escritorio -->
    <div class="escritorio">
        <ng-container *ngIf="perfilReady; else loadTemplate">
            <div class="boton-margen">
                <ng-container *ngIf="!perfil.portada; else portadaTemplate">
                    <div style="text-align: center; cursor: pointer;">
                        <img [src]="noPortada" style="width: 35%;" (click)="foto1.click()" /> <br>
                        <input style="display: none" (change)="cropImage($event, 1/.33, true, 60, 450)" type="file" #foto1> <br>
                        <ion-label color="medium" *ngIf="!perfil.portada">Elige tu portada. Toma una fotografía del negocio o producto estrella</ion-label>
                    </div>
                </ng-container>
                <ng-template #portadaTemplate>
                    <img [src]="perfil.portada" style="width: 100%; cursor: pointer;" (click)="foto1.click()" /> <br>
                    <input style="display: none" (change)="cropImage($event, 1/.33, true, 60, 450)" type="file" #foto1> <br>
                </ng-template>

                <div>
                    <form #forma="ngForm" (submit)="guardarCambios()">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-item lines="none">
                                        <ion-label color="medium" position="fixed">Logo</ion-label>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="8">
                                    <img [src]="perfil.logo || noLogo" style="height: 2.5rem; cursor: pointer;" (click)="foto2.click()" />
                                    <input style="display: none" (change)="cropImage($event, 1/.9, false)" type="file" #foto2>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-item>
                            <ion-label color="medium" position="floating">Negocio</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.nombre" type="text" name="nombre" required minlength="3"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium" position="floating">Dirección</ion-label>
                            <ion-input id="txtEscritorio" #txtEscritorio (keyup.enter)="$event.target.blur();" [(ngModel)]="perfil.direccion.direccion" [disabled]="guardando" type="text" name="direccion" required minlength="3"></ion-input>
                        </ion-item>
                        <agm-map *ngIf="perfil.direccion.lat" [latitude]="perfil.direccion.lat" [longitude]="perfil.direccion.lng" [zoom]="16">
                            <agm-marker [latitude]="perfil.direccion.lat" [longitude]="perfil.direccion.lng" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                        </agm-map>
                        <ion-item>
                            <ion-label color="medium" position="floating">Telefono (10 dígitos)</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.telefono" type="tel" name="telefono" required minlength="10"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="productosAllow">
                            <ion-label color="medium">Manejarás pedidos en línea</ion-label>
                            <ion-select [value]="perfil.tipo" (ionChange)="tipoElegido($event)" color="medium" okText="Aceptar" cancelText="Cancelar" required>
                                <ion-select-option value="productos">Sí, quiero recibir pedidos en línea</ion-select-option>
                                <ion-select-option value="servicios">No, es sólo informativo</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'servicios'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Whatsapp de contacto (10 dígitos)</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.whats" type="tel" name="whats" minlength="10"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'productos'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Costo de envío</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.envio" type="number" name="envio" minlength="1"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="productosAllow">
                            <ion-label color="medium">Tiempo de entrega</ion-label>
                            <ion-select [(ngModel)]="perfil.entrega" color="medium" okText="Aceptar" cancelText="Cancelar" required name="entrega">
                                <ion-select-option value="inmediato">Mismo día</ion-select-option>
                                <ion-select-option value="planeado">Planeado</ion-select-option>
                                <ion-select-option value="indefinido">Definir dependiendo del pedido</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="perfil.tipo === 'productos' && perfil.entrega === 'inmediato'">
                            <ion-label color="medium" position="floating" class="ion-text-wrap">Tiempo de preparacion aprox. en minutos</ion-label>
                            <ion-input (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.preparacion" type="number" name="preparacion" minlength="1"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium" position="floating">Descripción</ion-label>
                            <ion-textarea (keyup.enter)="$event.target.blur();" [disabled]="guardando" [(ngModel)]="perfil.descripcion" type="text" name="descripcion" required minlength="3"></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium">Categoria</ion-label>
                            <ion-select [value]="perfil.categoria" [disabled]="categorias.length <= 0 || !categoriasReady" (ionChange)="categoriaElegida($event)" color="medium" okText="Aceptar" cancelText="Cancelar" required>
                                <ion-select-option *ngFor="let item of categorias" [value]="item.categoria">{{item.categoria | titlecase}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label color="medium">Subcategoria</ion-label>
                            <ion-select multiple="true" [(ngModel)]="perfil.subCategoria" [disabled]="subCategorias.length <= 0" color="medium" okText="Aceptar" cancelText="Cancelar" required name="subCat">
                                <ion-select-option *ngFor="let item of subCategorias" [value]="item">{{item | titlecase}}</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-button expand="block" style="margin: 2rem 0" [disabled]="!forma.valid || !perfil.logo || !perfil.portada || !perfil.tipo || !perfil.subCategoria || guardando || !cobertura" type="submit">
                            Guardar cambios
                            <ion-spinner *ngIf="guardando" name="dots"></ion-spinner>
                        </ion-button>
                    </form>
                </div>
            </div>
        </ng-container>
        <ng-template #loadTemplate>
            <ion-card class="boton-margen">
                <ion-list>
                    <ion-item *ngFor="let item of [1,2,3,4,5,6]">
                        <ion-label>
                            <h2>
                                <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                            </h2>
                            <p>
                                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ng-template>

    </div>

</ion-content>

<app-no-network></app-no-network>