<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="comfortaa">Reseñas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="rateNegReady && rateRepReady; else loadTemplate">
        <ng-container *ngIf="rate && perfilNegocio; else rateTemplate">
            <!-- Escritorio -->
            <ion-grid class="escritorio ion-no-padding">
                <ion-row>
                    <ion-col size-md="6" size-lg="5" size-xl="4" class="separate-scroll">
                        <ion-card [ngStyle]="{'border-right': negSel ? 'solid var(--ion-color-primary) 5px' : null}">
                            <ion-item detail (click)="setDatos(perfilNegocio.id, 'negocio', rate.calificaciones, perfilNegocio.nombre, null)" [style.cursor]="negSel? null :'pointer'">
                                <ion-avatar style="margin-right: 0.5rem;">
                                    <img [src]="perfilNegocio.logo" />
                                </ion-avatar>
                                <ion-label class="ion-text-wrap">
                                    <h2>{{perfilNegocio.nombre}}</h2>
                                    <app-stars *ngIf="rate.promedio" [calificacion]="rate.promedio"></app-stars>
                                    <p>{{rate.calificaciones}} calificaciones</p>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                        <ion-list *ngIf="repartidores.length > 0">
                            <ion-list-header>
                                <ion-label color="primary">Repartidores</ion-label>
                            </ion-list-header>
                            <ion-card *ngFor="let item of repartidores; let i = index" [ngStyle]="{'border-right': i === iSel ? 'solid var(--ion-color-primary) 5px' : null}">
                                <ion-item detail (click)="setDatos(item.id, 'repartidor', item.calificaciones, item.nombre, i)" [style.cursor]="i === iSel? null :'pointer'">
                                    <ion-avatar style="margin-right: 0.5rem;">
                                        <img [src]="item.foto" />
                                    </ion-avatar>
                                    <ion-label class="ion-text-wrap">
                                        <h2>{{item.nombre}}</h2>
                                        <app-stars *ngIf="item.promedio" [calificacion]="item.promedio"></app-stars>
                                        <p *ngIf="item.calificaciones > 1">{{item.calificaciones}} calificaciones</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card>
                        </ion-list>
                    </ion-col>
                    <ion-col size-md="6" size-lg="7" size-xl="8" class="separate-scroll">
                        <ng-container *ngIf="loadingComentarios; else loadComTemplate">
                            <ion-item style="text-align: center;">
                                <ion-progress-bar type="indeterminate"></ion-progress-bar>
                            </ion-item>
                        </ng-container>
                        <ng-template #loadComTemplate>
                            <ion-list *ngFor="let item of comentarios" style="max-width: 30rem;">
                                <ion-card>
                                    <ion-item>
                                        <ion-label>
                                            <ion-grid fixed>
                                                <ion-row>
                                                    <ion-col size="8">
                                                        <h2 class="ion-text-wrap" [style.color]="item.puntos < 3 ? 'red' : item.puntos < 4 ? 'orange' : '#595756' ">
                                                            {{item.comentarios}}
                                                        </h2>
                                                    </ion-col>
                                                    <ion-col size="4">
                                                        <app-stars [calificacion]="item.puntos"></app-stars>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-label>
                                    </ion-item>
                                </ion-card>
                            </ion-list>
                        </ng-template>

                        <ion-infinite-scroll threshold="50px" (ionInfinite)="loadComentarios($event)">
                            <ion-infinite-scroll-content loadingSpinner="bubbles">
                            </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!-- Mobile -->
            <div class="mobile">
                <ion-card>
                    <ion-item detail (click)="verCalificaciones(perfilNegocio.id, 'negocio', rate.calificaciones, perfilNegocio.nombre)">
                        <ion-avatar style="margin-right: 0.5rem;">
                            <img [src]="perfilNegocio.logo" />
                        </ion-avatar>
                        <ion-label>
                            <h2>{{perfilNegocio.nombre}}</h2>
                            <app-stars *ngIf="rate.promedio" [calificacion]="rate.promedio"></app-stars>
                            <p>{{rate.calificaciones}} calificaciones</p>
                        </ion-label>
                    </ion-item>
                </ion-card>
                <ion-card *ngIf="repartidores.length > 0">
                    <ion-list>
                        <ion-list-header>
                            <ion-label color="primary">Repartidores</ion-label>
                        </ion-list-header>
                        <ion-item *ngFor="let item of repartidores" detail (click)="verCalificaciones(item.id, 'repartidor', item.calificaciones, item.nombre)">
                            <ion-avatar style="margin-right: 0.5rem;">
                                <img [src]="item.foto" />
                            </ion-avatar>
                            <ion-label>
                                <h2>{{item.nombre}}</h2>
                                <app-stars *ngIf="item.promedio" [calificacion]="item.promedio"></app-stars>
                                <p *ngIf="item.calificaciones > 1">{{item.calificaciones}} calificaciones</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </div>
        </ng-container>
        <ng-template #rateTemplate>
            <ion-item lines="none" style="text-align: center;">
                <ion-label class="ion-text-wrap" color="medium">Completa la información de tu perfil para poder recibir comentarios y reseñas de tus clientes</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>
    <ng-template #loadTemplate>
        <ion-card class="boton-margen">
            <ion-item>
                <ion-avatar style="margin-right: 0.5rem;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2>
                        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="boton-margen">
            <ion-list>
                <ion-item *ngFor="let item of [1,2,3,4,5,6]">
                    <ion-avatar style="margin-right: 0.5rem;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <h2>
                            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                        </h2>
                        <p>
                            <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
    </ng-template>

</ion-content>

<app-no-network></app-no-network>