.margen {
    width: 90%;
    margin-left: 5%;
}

.cuadro {
    display: flex;
    width: 80%;
    padding-bottom: 80%;
    background: green;
    margin: auto;
}

.titulo {
    margin: auto;
    color: white;
}