.margen {
    width: 90%;
    margin-left: 5%;
}

.cuadro {
    position: relative;
    display: flex;
    width: 9rem;
    height: 9rem;
    margin: auto;
}

.titulo {
    margin: auto;
    color: white;
}

hr {
    border: solid 0.05px #a2a4ab;
    width: 90%;
    margin-left: 5%;
}