.margen {
    width: 90%;
    margin-left: 5%;
}

.cuadro {
    width: 80%;
    padding-bottom: 80%;
    background: green;
    margin: auto;
    text-align: center;
}

.titulo {
    display: table-cell;
    vertical-align: middle;
    color: white;
}